#snake-field{
    display: inline-block;
    border: 2px solid black;
}
#online-score {
    width: 150px;
    padding: 15px;
    color: black;
    background-color: gold;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 110px;
    border: 1px solid black;
}

#snake-renew,#snake-start{
    width: 150px;
    padding: 10px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    float: left;
    margin: 10px;
    border: 1px solid black;
}
.game-table{
    border-collapse: collapse;
    background-color: #3e3e3e;
}
td.game-table-cell{
    width: 15px;
    height: 15px;
    border: 1px dotted #eee;
}
.snake-unit{
    background-color: white;
}
.food-unit{
    background-color: red;
}

.barrier-unit {
    background-color: blue;
}

.buttons{
    display: inline-block;
}
.wrap{
    margin: 30px auto 0;
    text-align: center;
}