.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big_pic {
    width: 60%;
    height: 80%;
    padding-bottom: 5px;
}

.big_pic img {
    width: 100%;
    height: 100%;
}
.small_pics img {
    border: solid 2px black;
}
.small_pics img:hover {
    border: solid 2px brown;
    transition: 0.3s;
}

.small_pics {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.small_pics img {
    width: 9rem;
    height: 7rem;
    object-fit: cover;
    cursor: pointer;
    margin: 10px;
}
